FORMAT: 1A
HOST: https://sec-osapp4-osapp4.193b.starter-ca-central-1.openshiftapps.com

# osapp4

osapp4 is a RESTful API that exposes the sample HR MySQL database.

## Countries Collection [/countries]
### List All Countries [GET]
+ Response 200 (application/json)

        [
            {"countryId":"AR","countryName":"Argentina"},{"countryId":"AU","countryName":"Australia"},{"countryId":"BE","countryName":"Belgium"},{"countryId":"BR","countryName":"Brazil"},{"countryId":"CA","countryName":"Canada"},{"countryId":"CH","countryName":"Switzerland"},{"countryId":"CN","countryName":"China"},{"countryId":"DE","countryName":"Germany"},{"countryId":"DK","countryName":"Denmark"},{"countryId":"EG","countryName":"Egypt"},{"countryId":"FR","countryName":"France"},{"countryId":"HK","countryName":"HongKong"},{"countryId":"IL","countryName":"Israel"},{"countryId":"IN","countryName":"India"},{"countryId":"IT","countryName":"Italy"},{"countryId":"JP","countryName":"Japan"},{"countryId":"KW","countryName":"Kuwait"},{"countryId":"MX","countryName":"Mexico"},{"countryId":"NG","countryName":"Nigeria"},{"countryId":"NL","countryName":"Netherlands"},{"countryId":"SG","countryName":"Singapore"},{"countryId":"UK","countryName":"United Kingdom"},{"countryId":"US","countryName":"United States of America"},{"countryId":"ZM","countryName":"Zambia"},{"countryId":"ZW","countryName":"Zimbabwe"}
        ]

## Country [/country]       
### Create a new Country [POST]

+ Request (application/json)

        {"countryId":"AR","countryName":"Argentina"}

+ Response 201 (application/json)

    + Body

            {"countryId":"AR","countryName":"Argentina"}
        
        
## Country [/country/{id}]

+ Parameters
    + id (string) - ID 

### View a Country Detail [GET]

+ Response 200 (application/json)

        {"countryId":"AR","countryName":"Argentina"}
        
### Update a Country [PUT]

+ Request (application/json)

        {"countryId":"AR","countryName":"Argentina"}

+ Response 201 (application/json)

    + Body

            {"countryId":"AR","countryName":"Argentina"}
        
### Delete a Country [DELETE]

+ Response 204      
        
## Departments Collection [/departments]
### List All Departments [GET]
+ Response 200 (application/json)

        [
        ]
        
## Department [/department]       
### Create a new Department [POST]

+ Request (application/json)

        {}

+ Response 201 (application/json)

    + Body

            {}   
            
## Department [/department/{id}]

+ Parameters
    + id (string) - ID 

### View a Department Detail [GET]

+ Response 200 (application/json)

        {}
        
### Update a Department [PUT]

+ Request (application/json)

        {}

+ Response 201 (application/json)

    + Body

            {}
        
### Delete a Department [DELETE]

+ Response 204      

## Employees Collection [/employees]
### List All Employees [GET]
+ Response 200 (application/json)

        [
        ]
        
## Employee [/employee]       
### Create a new Employee [POST]

+ Request (application/json)

        {}

+ Response 201 (application/json)

    + Body

            {}         
        
## Employee [/employee/{id}]

+ Parameters
    + id (string) - ID 

### View a Employee Detail [GET]

+ Response 200 (application/json)

        {}
        
### Update a Employee [PUT]

+ Request (application/json)

        {}

+ Response 201 (application/json)

    + Body

            {}
        
### Delete a Employee [DELETE]

+ Response 204  

## Jobs Collection [/jobs]
### List All Jobs [GET]
+ Response 200 (application/json)

        [
        ]
        
## Job [/job]              
### Create a new Job [POST]

+ Request (application/json)

        {}

+ Response 201 (application/json)

    + Body

            {}     
        

## Jobs [/job/{id}]

+ Parameters
    + id (string) - ID 

### View a Job Detail [GET]

+ Response 200 (application/json)

        {}
        
### Update a Job [PUT]

+ Request (application/json)

        {}

+ Response 201 (application/json)

    + Body

            {}
        
### Delete a Job [DELETE]

+ Response 204  
        
## Locations Collection [/locations]
### List All Locations [GET]
+ Response 200 (application/json)

        [
        ]

## Location [/location]              
### Create a new Location [POST]

+ Request (application/json)

        {}

+ Response 201 (application/json)

    + Body

            {}     

## Location [/location/{id}]

+ Parameters
    + id (string) - ID 

### View a Location Detail [GET]

+ Response 200 (application/json)

        {}
        
### Update a Location [PUT]

+ Request (application/json)

        {}

+ Response 201 (application/json)

    + Body

            {}
        
### Delete a Location [DELETE]

+ Response 204   
  

## Regions Collection [/regions]
### List All Regions [GET]
+ Response 200 (application/json)

        [
        ]
        
## Region [/region]              
### Create a new Region [POST]

+ Request (application/json)

        {}

+ Response 201 (application/json)

    + Body

            {} 
            
            
## Region [/region/{id}]

+ Parameters
    + id (string) - ID 

### View a Region Detail [GET]

+ Response 200 (application/json)

        {}
        
### Update a Region [PUT]

+ Request (application/json)

        {}

+ Response 201 (application/json)

    + Body

            {}
        
### Delete a Region [DELETE]

+ Response 204   