FORMAT: 1A
HOST: https://sec-osapp4-os-app4.193b.starter-ca-central-1.openshiftapps.com

# osapp4

osapp4 is a RESTful API that exposes the sample HR MySQL database.

## Countries Collection [/countries]
### List All Countries [GET]
+ Response 200 (application/json)

        [
            {"countryId":"AR","countryName":"Argentina"},{"countryId":"AU","countryName":"Australia"},{"countryId":"BE","countryName":"Belgium"},{"countryId":"BR","countryName":"Brazil"},{"countryId":"CA","countryName":"Canada"},{"countryId":"CH","countryName":"Switzerland"},{"countryId":"CN","countryName":"China"},{"countryId":"DE","countryName":"Germany"},{"countryId":"DK","countryName":"Denmark"},{"countryId":"EG","countryName":"Egypt"},{"countryId":"FR","countryName":"France"},{"countryId":"HK","countryName":"HongKong"},{"countryId":"IL","countryName":"Israel"},{"countryId":"IN","countryName":"India"},{"countryId":"IT","countryName":"Italy"},{"countryId":"JP","countryName":"Japan"},{"countryId":"KW","countryName":"Kuwait"},{"countryId":"MX","countryName":"Mexico"},{"countryId":"NG","countryName":"Nigeria"},{"countryId":"NL","countryName":"Netherlands"},{"countryId":"SG","countryName":"Singapore"},{"countryId":"UK","countryName":"United Kingdom"},{"countryId":"US","countryName":"United States of America"},{"countryId":"ZM","countryName":"Zambia"},{"countryId":"ZW","countryName":"Zimbabwe"}
        ]
        
        
## Country [/country]       
### Create a New Country [POST]

+ Request (application/json)

        {"countryId":"AR","countryName":"Argentina"}

+ Response 201 (application/json)

    + Body

            {"countryId":"AR","countryName":"Argentina"}
            
        
## Country [/country/{id}]

+ Parameters
    + id (string) - ID 

### View a Country Detail [GET]

+ Response 200 (application/json)

        {"countryId":"AR","countryName":"Argentina"}



## Departments Collection [/departments]
### List All Departments [GET]
+ Response 200 (application/json)

        [
        ]
        
        
## Employees Collection [/employees]
### List All Employees [GET]
+ Response 200 (application/json)

        [
        ]
        
        
## Jobs Collection [/jobs]
### List All Jobs [GET]
+ Response 200 (application/json)

        [
        ]


## Locations Collection [/locations]
### List All Locations [GET]
+ Response 200 (application/json)

        [
        ]
        

## Regions Collection [/regions]
### List All Regions [GET]
+ Response 200 (application/json)

        [
        ]